.div {
    border-radius: 20px;
}

.butt {
    background-color: aqua;
    margin: 1rem 0 0 1rem;
    width: 5rem;
    height: 2rem;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-size: 1rem;
}

.input {
    width: 15rem;
    height: 2rem;
}